:root {
    /* RESPONSIVE */

    /* Break-Points */
    --breakLarge: 768px;
    --breakMedium: 480px;

    /* COLOR THEME */

    /* highlight colors */
    --clr-accent: #aeaeae;
    --clr-base: rgb(110, 69, 173);
    --clr-highlight: #07cadc;
    --clr-highlight2: #e6308a;
    --clr-highlight3: yellow;
    --mint-neon: #07cadc;

    /* base colors */
    --white: #fff;
    --gray-light: rgb(220, 220, 220);
    --gray-lighter: rgb(245, 245, 245);
    --gray-dark: rgb(86, 86, 86);
    --gray-transparent: rgba(0, 0, 0, 0.2);
    --black: #161c1d;

    /* FONTS */
    --font-h: "Yeseva One", serif;
    --font-p: "Raleway", sans-serif;
    --font-highlight: "Lora", serif;
}

/* --------------------------------------------------
     GENERAL
   ------------------------------------------------ */

* {
    /* Setting all sizes to border-box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gray-lighter);
    font-family: var(--font-p);
}

/* TEXT */
h1 {
    font-family: var(--font-h);
    font-size: 2.5em;
    font-style: normal;
    padding: 0;
    margin: 10px 20px 30px;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 0 20px 30px;
}

/* BUTTONS */
.button {
    display: inline-block;
    border: none;
    background-color: var(--clr-base);
    color: var(--white);
    font-family: inherit;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 3px;
    border-bottom: 1px solid var(--gray-transparent);
    transition: background-color, 0.2s;
}

.button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--clr-highlight);
    color: var(--white);
}

.button:active {
    background-color: var(--clr-highlight2);
}

/*  LINKS
    Proper order: a:visited, a:hover (and a:focus), a:active */
a {
    color: var(--clr-base);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--clr-highlight);
    text-decoration: none;
}

a:active {
    color: var(--clr-highlight2);
}

/* --------------------------------------------------
     MAIN NAVIGATION
   ------------------------------------------------ */
header a {
    color: var(--black);
    text-transform: uppercase;
}

.page-header__before-toogle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-h);
    text-transform: lowercase;
    font-size: 1.1em;
}

.site-logo img {
    width: 30px;
    height: 30px;
    margin: 15px;
}

/* Site Navigation Toggle */
.site-nav:has(.site-nav-list__item:focus),
.page-header__before-toogle:has(#site-nav__toggle:checked) ~ .site-nav {
    clip-path: circle(75%);
}

#site-nav__toggle {
    display: none;
}

.menu-toogle {
    padding-top: 20px;
    padding-right: 20px;
    z-index: 2;
    position: relative;
}

#site-nav__toggle:checked ~ .menu-toogle {
    color: transparent;
}

#site-nav__toggle:checked ~ .menu-toogle i::before {
    content: url("/img/x_handdrawn.svg") / "handdrawn x as close button";
    zoom: 3.5%;
}

/* Styles for Nav Items */
.site-nav {
    position: fixed;
    display: grid;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--gray-light);
    clip-path: rect(0 0 40px 50px);
    text-transform: capitalize;
}

.site-nav__list {
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 3.5em;
    line-height: 1.3;
    list-style-type: none;
}

.site-nav-list__item--active {
    position: relative;
    font-family: "Lora", serif;
    font-weight: lighter;
    color: var(--gray-dark);
}

.site-nav-list__item--active::before {
    content: url("/img/nav-circle_handdrawn.svg");
    zoom: 12%;
    position: absolute;
    display: block;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.site-nav-list__item {
    position: relative;
    font-weight: 600;
}

/* Text-Transformations on Hover */
.site-nav-list__item:hover,
.site-nav-list__item--active:hover,
.site-nav-list__item--active:focus {
    color: var(--black);
}

.site-nav-list__item::before {
    content: attr(data-text);
    position: absolute;
    height: 0;
    color: var(--black);
    background-color: var(--white);
    overflow: hidden;
    transition: height 0.4s ease-in-out, border-bottom 0s 0.3s;
}

.site-nav-list__item:hover::before,
.site-nav-list__item:focus::before {
    height: 100%;

    /* border-bottom: 2px solid var(--clr-highlight2); */
}

.site-nav-list__item--active:hover::after {
    content: "current page";
    position: absolute;
    top: 50%;
    transform: translate(0, -90%);
    margin-left: 16px;
    font-size: 0.28em;
    color: var(--clr-highlight3);
}

.site-nav-list__item:hover::after {
    content: "follow me to the " attr(data-text) " section";
    position: absolute;
    width: 8em;
    top: 50%;
    transform: translate(0, -90%);
    margin-left: 16px;
    font-size: 0.28em;
    color: var(--clr-highlight3);
    font-family: var(--font-highlight);
    font-weight: lighter;
}

/* --------------------------------------------------
     FOOTER
   ------------------------------------------------ */

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    align-self: end;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.social-list__item {
    flex: 0 0 60px;
}

.page-footer img {
    height: 30px;
    margin: 10px;
}

.page-footer p {
    margin: 0;
    font-style: italic;
}

/* --------------------------------------------------
     PAGES
   ------------------------------------------------ */

/* ///// HOME-PAGE */

/* Profile Container */
.home-page {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.profile {
    place-self: center;
    max-width: var(--breakLarge);
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.circle {
    position: absolute;
    opacity: 50%;
    max-width: 900px;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.profile p {
    font-family: var(--font-p);
    font-weight: 800;
    font-size: 2em;
    font-style: normal;
}

/* Profile Picture */
.profile-pic img {
    margin: 20px 30px;
    max-width: 200px;
    border-radius: 50%;
}

/* Skill Reel, Text Animation */
.skill-reel a {
    position: absolute;
    color: transparent;
}

.skill-reel a::before {
    position: absolute;
    box-sizing: content-box;
    border-bottom: 8px solid var(--clr-highlight);
    content: attr(data-text);
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease-in-out, color 0.1s;
    animation: skill-underline 15s ease-in-out infinite;
}

.skill1 {
    animation: skill1 15s infinite;
}

.skill2 {
    animation: skill2 15s infinite;
}

.skill3 {
    animation: skill3 15s infinite;
}

@keyframes skill-underline {
    0%,
    100% {
        width: 0;
        color: transparent;
    }

    5%,
    28% {
        width: 100%;
        color: transparent;
    }

    15%,
    23% {
        color: var(--black);
    }

    33% {
        width: 0;
        color: transparent;
    }
}

@keyframes skill1 {
    0% {
        display: inline;
    }

    32%,
    100% {
        display: none;
    }
}

@keyframes skill2 {
    0%,
    33% {
        display: none;
    }

    34% {
        display: inline;
    }

    66%,
    100% {
        display: none;
    }
}

@keyframes skill3 {
    0%,
    66% {
        display: none;
    }

    67% {
        display: inline;
    }

    100% {
        display: none;
    }
}

/* Animation on hover */
.skill-reel a:focus::before,
.skill-reel a:hover::before {
    border-bottom: none;
    background-color: var(--clr-highlight);
    color: var(--white);
    animation: none;
}

.skill-reel:has(a:hover) > *,
.skill-reel:has(a:focus) > * {
    animation-play-state: paused;
}

/* ///// WORK-PAGE */

/* Project-grid */

.project-grid p {
    margin: 20px 0;
}

/* start grid fallback */
.project-grid__item {
    display: inline-block;
    padding: 20px;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 30px;
    }

    .project-grid__item {
        width: auto;
        background-color: var(--white);
    }

    .project-grid__item:last-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}

/* ///// ABOUT-PAGE */
.about-page {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.about-content {
    place-self: center;
    max-width: var(--breakLarge);
    margin: 0 auto;
}

.cv-table {
    margin: 50px auto;
}

.cv-button {
    display: block;
    width: fit-content;
    margin: 40px auto;
}

/* Animation: Sun (SVG Berlin) */
.about-page object {
    padding: 0 140px;
}

.sun {
    animation-duration: 10s;
    animation-name: color-change-sun;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes color-change-sun {
    0% {
        fill: var(--clr-base);
    }

    50% {
        fill: var(--clr-highlight);
    }

    100% {
        fill: var(--clr-accent);
    }
}

/* Animation: Clouds (SVG Berlin) */

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

/* ///// CONTACT-PAGE */
.contact-page {
    display: grid;
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.contact-content {
    max-width: var(--breakLarge);
    display: flex;
}

.contact-me-button {
    margin: auto 20px;
}

#contact-form {
    display: flex;
    width: fit-content;
    height: fit-content;
    margin: 30px;
    padding: 5px 30px 10px 20px;
    flex-direction: column;
    background-color: var(--clr-base);
    color: var(--white);
}

#contact-form label {
    padding: 20px 0 8px 2px;
}

.contact-field {
    padding: 5px;
}

.contact-form-button {
    width: fit-content;
    align-self: flex-end;
    margin: 20px 0;
    border-radius: 300;
    background-color: var(--white);
    color: var(--clr-base);
}

/* --------------------------------------------------
     MEDIA QUERIES
   ------------------------------------------------ */

@media all and (max-width: var(--breakMedium)) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: var(--breakMedium)) and (max-width: var(--breakLarge)) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: var(--breakLarge)) {
    .project-grid {
        grid-gap: 20px;
    }

    .project-grid__item:last-child {
        grid-column: auto / auto;
        grid-row: inherit / auto;
    }
}