:root {
    /* RESPONSIVE */

    /* Break-Points */
    --breakLarge: 768px;
    --breakMedium: 480px;

    /* COLOR THEME */

    /* highlight colors */
    --clr-accent: #aeaeae;
    --clr-base: rgb(110, 69, 173);
    --clr-highlight: #07cadc;
    --clr-highlight2: #e6308a;
    --mint-neon: #07cadc;

    /* base colors */
    --white: #fff;
    --gray-light: rgb(240, 240, 240);
    --gray-transparent: rgba(0, 0, 0, 0.2);

    /* FONTS */
    --font-h: "Yeseva One", serif;
    --font-p: "Raleway", sans-serif;
}

/* --------------------------------------------------
     GENERAL
   ------------------------------------------------ */

* {
    /* Setting all sizes to border-box */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--gray-light);
    font-family: var(--font-p);
}

/* TEXT */
h1 {
    font-family: var(--font-h);
    font-size: 2.5em;
    font-style: normal;
    color: var(--clr-highlight);
    padding: 0;
    margin: 30px;
}

p {
    line-height: 1.5;
    padding: 0;
    margin: 30px;
}

/* BUTTONS */
.button {
    display: inline-block;
    border: none;
    background-color: var(--clr-base);
    color: var(--white);
    font-family: inherit;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 3px;
    border-bottom: 1px solid var(--gray-transparent);
    transition: background-color, 0.2s;
}

.button:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--clr-highlight);
    color: var(--white);
}

.button:active {
    background-color: var(--clr-highlight2);
}

/*  LINKS
    Proper order: a:visited, a:hover (and a:focus), a:active */
a {
    color: var(--clr-base);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: var(--clr-highlight);
    text-decoration: none;
}

a:active {
    color: var(--clr-highlight2);
}

/* --------------------------------------------------
     MAIN NAVIGATION
   ------------------------------------------------ */

.page-header {
    background: var(--white);
    border-bottom: 1px solid var(--gray-transparent);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--font-h);
    text-transform: lowercase;
    font-size: 1.1em;
}

.page-header__item {
    flex: 0 1 auto;
}

.page-header__item:last-child {
    text-align: right;
}

.page-header__item img {
    width: 30px;
    height: 30px;
}

.site-nav__list {
    font-weight: bold;
    list-style-type: none;
}

.site-nav__list li {
    display: inline-block;
    margin-left: 1em;
}

.site-nav-list__item--active {
    color: var(--clr-highlight);
}

/* Animation: Text-Fill for Hovering on Nav-Text */
.site-nav-list__item {
    position: relative;
}

.site-nav-list__item::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr-highlight2);
    background-color: var(--white);
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out, border-bottom 0s 0.2s;
}

.site-nav-list__item:hover::before {
    height: 100%;
    border-bottom: 2px solid var(--clr-highlight2);
}

/* --------------------------------------------------
     FOOTER
   ------------------------------------------------ */

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.social-list__item {
    flex: 0 0 60px;
}

.page-footer img {
    height: 30px;
    margin: 10px;
}

.page-footer p {
    margin: 0;
    font-style: italic;
}

/* --------------------------------------------------
     PAGES
   ------------------------------------------------ */

/* ///// HOME-PAGE */

/* Profile Container */
.profile {
    max-width: var(--breakLarge);
    margin: 50px auto;
}

.profile p {
    font-family: var(--font-p);
    font-weight: 800;
    font-size: 2em;
    font-style: normal;
}

/* Profile Picture */
.profile-pic img {
    float: left;
    margin: 20px 30px;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

/* Skill Reel, Text Animation */
.skill-reel a {
    position: relative;
    color: transparent;
}

.skill-reel a::before {
    position: absolute;
    box-sizing: content-box;
    border-bottom: 8px solid var(--mint-neon);
    content: attr(data-text);
    color: var(--clr-base);
    overflow: hidden;
    white-space: nowrap;
    transition: background-color 0.5s ease-in-out, border-bottom 0.5s ease-in-out, color 0.1s;
    animation: skill-underline 15s ease-in-out infinite;
}

.skill-reel a:nth-child(1) {
    animation: skill1 15s infinite;
}

.skill-reel a:nth-child(2) {
    animation: skill2 15s infinite;
}

.skill-reel a:nth-child(3) {
    animation: skill3 15s infinite;
}

@keyframes skill-underline {
    0%,
    100% {
        width: 0;
        color: transparent;
    }

    5%,
    28% {
        width: 100%;
        color: transparent;
    }

    15%,
    23% {
        color: var(--clr-base);
    }

    33% {
        width: 0;
        color: transparent;
    }
}

@keyframes skill1 {
    0% {
        display: inline;
    }

    32%,
    100% {
        display: none;
    }
}

@keyframes skill2 {
    0%,
    32% {
        display: none;
    }

    33% {
        display: inline;
    }

    66%,
    100% {
        display: none;
    }
}

@keyframes skill3 {
    0%,
    65% {
        display: none;
    }

    66% {
        display: inline;
    }

    100% {
        display: none;
    }
}

/* Animation on hover */
.skill-reel a:hover::before {
    border-bottom: none;
    background-color: var(--clr-highlight);
    color: var(--white) !important;
    /* animation-play-state: paused; */
}

/* .skill-reel a:nth-child(n) {
    animation-play-state: paused;
} */

/* ///// WORK-PAGE */

/* Project-grid */

.project-grid p {
    margin: 20px 0;
}

/* start grid fallback */
.project-grid__item {
    display: inline-block;
    padding: 20px;
    width: 33%;
}

/* end grid fallback */

@supports (display: grid) {
    .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 30px;
    }

    .project-grid__item {
        width: auto;
        background-color: var(--white);
    }

    .project-grid__item:last-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }
}

/* ///// ABOUT-PAGE */

.about-page {
    max-width: var(--breakLarge);
    margin: 50px auto;
}

.cv-table {
    margin: 50px auto;
}

.cv-button {
    display: block;
    width: fit-content;
    margin: 40px auto;
}

/* Animation: Sun (SVG Berlin) */

.sun {
    animation-duration: 10s;
    animation-name: color-change-sun;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes color-change-sun {
    0% {
        fill: var(--clr-base);
    }

    50% {
        fill: var(--clr-highlight);
    }

    100% {
        fill: var(--clr-accent);
    }
}

/* Animation: Clouds (SVG Berlin) */

.cloud-front {
    animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(200px, 50px);
    }
}

.cloud-back {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

/* ///// CONTACT-PAGE */

.contact-page {
    max-width: var(--breakLarge);
}

.contact-button {
    margin: auto 30px;
}

#contact-form {
    display: flex;
    width: fit-content;
    margin: 30px;
    padding: 5px 30px 10px 20px;
    flex-direction: column;
    background-color: var(--clr-base);
    color: var(--white);
}

#contact-form label {
    padding: 20px 0 8px 2px;
}

.contact-field {
    padding: 5px;
}

#contact-form .button {
    width: fit-content;
    align-self: flex-end;
    margin: 20px 0;
    border-radius: 0;
}

#contact-form .button:hover {
    background-color: var(--white);
    color: var(--clr-base);
    border-radius: 3px;
}

/* --------------------------------------------------
     MEDIA QUERIES
   ------------------------------------------------ */

@media all and (max-width: var(--breakMedium)) {
    .project-grid {
        grid-template-columns: 1fr;
    }
}

@media all and (min-width: var(--breakMedium)) and (max-width: var(--breakLarge)) {
    .project-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: var(--breakLarge)) {
    .project-grid {
        grid-gap: 20px;
    }

    .project-grid__item:last-child {
        grid-column: auto / auto;
        grid-row: inherit / auto;
    }
}